.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-informative {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 60px;
}

.header-item {
    font-weight: bold;
    margin-right: 5px;
}

.header-action {
    font-weight: bold;
    color: gray;
}

@media (min-width: 1200px) {
    .header-container {
        justify-content: flex-end;
    }

    .header-informative {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
    }

    .header-column, .header-action {
        margin-left: 20px;
    }
}