table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  width: 100%;
}

tbody {
  width: 100%;
}

th {
  display: none;
}

tr {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.wallet-tbody .wallet-tr {
  margin-bottom: 30px;
  padding: 10px;
}

td {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: none;
  text-align: right;
}

td[data-label]:before {
  content: attr(data-label);
  font-weight: bold;
  display: block;
  text-align: left;
  margin-right: 10px;
}

td,
th {
  padding: 10px;
  border: none;
}

tr:nth-child(even) {
  background-color: #ebebeb;
}

tr:nth-child(odd) {
  background-color: #fff;
}

td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

td:last-child button {
  cursor: pointer;
}

@media (max-width: 1200px) {
  td:last-child button {
    margin: 0 10px;
    width: 40%;
  }
}

@media (min-width: 1200px) {

  table {
    display: table;
  }

  th {
    display: table-cell;
    background-color: #f0f0f0;
    text-align: center;
  }

  tr {
    display: table-row;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }

  td {
    display: table-cell;
    text-align: center;
  }

  td[data-label]:before {
    display: none;
  }

  td:last-child {
    display: table-cell;
    vertical-align: middle;
    border-top: none;
  }

  td:last-child button {
    margin-left: 10px;
    width: 50%;
  }

  .button-td {
    width: 280px;
    padding-right: 0;
  }
}